<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Hello, let's practice !</h1>
      <p class="letters">
        @for (char of phraseArray; track $index; let i = $index) {
        <span
          class="letter"
          [ngClass]="{
            current: i === currentIndex,
            correct: typedCharacters[i] && typedCharacters[i].isCorrect,
            incorrect: typedCharacters[i] && !typedCharacters[i].isCorrect
          }"
        >
          {{ char === " " ? "_" : char }}
        </span>
        }
      </p>
      <p>Mots par minutes: {{ wordsPerMinute }}</p>
      <p>Accuracy: {{ accuracy}}</p>
      <p>Letter pressed: {{ key }}</p>
    </div>
  </div>
</main>